// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
	margin: 0;
	padding: 0;
	background-color: rgb(240, 240, 240);
}
#main {
	padding: 20px 150px;
}
#tags {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	#recettes-number {
		flex-grow: 1;
		text-align: right;
		font-family: $anton;
		font-weight: 500;
		font-size: 21px;
	}
}
#cards-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 35px;
	gap: 30px;
	#recette-description {
		color: black;
	}
}
