.selects {
	width: 195px;
	height: 56px;
	font-family: $manrop;
	font-weight: 500;
	color: #1b1b1b;
	margin-right: 100px;
	font-size: 16px;
	padding-left: 10px;
	background-color: white;
	border-radius: 10px;
	border: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	background-image: url("/img/arrow-select.png");
	background-repeat: no-repeat;
	background-position: 160px 25px;
	cursor: pointer;
	option {
		border: none;
		outline: none;
		border-radius: 10px;
	}
}
